* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: signika
  ;
  
}
h1 {
  font-size: 35px;
}

header {
  box-shadow: 0px 0px 10px;
  width: 100%;
}
#head {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 40px;
  font-size: 23px;
  padding: 10px 40px;
}
.logo {
  flex: 1;
  width: 120px;
}
a {
  text-decoration: none;
  color: black;
}
.home {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-left: 1px rgb(0, 136, 136) solid;
  padding-left: 40px;
}
.home::after {
  margin: auto;
  display: block;
  content: "";
  background: transparent;
  height: 3px;
  width: 0;
  transition: width 0.2s ease-in-out, background 0.2s ease-in-out,
    color 0.2s ease-in-out;
}
.home:hover::after {
  width: 100%;
  color: #4169e1;
  background: #4169e1;
}
span{
  color:#4169e1
}


.infoBox {
  margin: 35px;
  display: flex;
  justify-content: space-between;
 
  gap: 20px;
}
.intro{
  padding: 25px;
  
}
.intro p{
  margin-left: 15px;
}
.infoBox div {
  width: 33%;
  height: 200px;
}

.iconBox {
  justify-content: space-between;
  display: flex;
 
  margin-top: 20px;
}
.iconBox button {
  color: #4169e1;
  font-size: 20px;
  background: transparent;
  height: 40px;
  padding: 0px 10px;
  border-radius: 50%;
  margin-left: 15px;
  border: 1px solid #4169e1;
  cursor: pointer;
  
}
.iconBox button:hover {
  background-color: #5d81f0;
  box-shadow: 0px 0px 7px 5px  #5d81f0;
  border-color:  #5d81f0;
  color: black;
  transition: 0.2s ease-in-out;
}

.aboutMe{
  padding: 25px;
  font-size: 19px;
  text-align: justify;
}


ul p{
 margin-bottom: 13px;
}


.certification {
  background-color: rgb(212, 212, 212);
  height: 380px;
  text-align: center;
  box-shadow: 0px 0px 10px;
  margin-bottom: 50px;
  padding: 25px;
}
.certiBox {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0px 25px;
}
.certiBox div {
  width: 28%;
  height: 220px;
}
.certiBox div a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.moreInfo{
  display: flex;
  justify-content: space-around;
}


footer{
  margin: 50px 0px;
}